.footer {
    padding-top: 30px !important;
}

.yamm{
    height: 95px;
    background-color: black;
}

.section-type-k{
    padding-top: 140px;
}

.w-100{
    width: 100%;
}
.mb-1{
    margin-bottom: 10px;
}

.top-header__link{
    width: 100%;
}

@media only screen and (max-width: 400px) {
    .header-main__links{
        display: block;
        background-color: rgba(2,2,2,0.9);
        color: white;
        width: 100%;
    }

    .header-main__links i{
        color: white;
        margin-right: 10px;
    }

    /* .logo__img.ami{
        display: inline;
        width: 100px;
    } */
}

@media only screen and (min-width: 401px) {
    .header-main__links{
        display: none;
    }
}